

<div class="card">
	<div class="card-header">{{title}}</div>
	<div class="card-block">
		<h5 class="card-title">{{resumeLite.candidate.name}},
			{{resumeLite.candidate.city}}, {{resumeLite.candidate.country}}</h5>
		<em>({{resumeLite.candidate.email}}, Linkedin-
			{{resumeLite.candidate.linkedIn}}) </em>
		<hr>
		<p class="card-text">
			<b>{{resumeLite.highlights}}</b>
		</p>
		<p class="card-text">
			<b>Mission "{{resumeLite.mission}}"</b>
		</p>
		<p class="card-text">
			<b>Milestones Achieved- </b>{{resumeLite.milestonesSeen}}
		</p>
		<p class="card-text">
			<b>What I look forward to - </b>{{resumeLite.milestonesToGo}}
		</p>
		<hr>
		<h6>Qualifications</h6>
		<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th>Degree</th>
					<th>Institution</th>
					<th>Date</th>
					<th>Percentage</th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let qualification of resumeLite.education.qualifications">
					<td>{{qualification.degree.name}}</td>
					<td>{{qualification.institution}}</td>
					<td>{{qualification.degreeDate}}</td>
					<td>{{qualification.percentage}}</td>
				</tr>
			</tbody>
		</table>
		<hr>
	</div>
	<div class="card-footer text-muted">Updated 2 days ago.</div>
</div>