<div class="card">
	<div class="card-header">{{title}}</div>
	<div *ngIf="resumeLite" class="card-block">
		<h5 class="card-title">{{resumeLite.candidate.name}}, {{resumeLite.candidate.city}}, {{resumeLite.candidate.country}}</h5>
		<p class="card-text">
			<em>(Mail- {{resumeLite.candidate.email}}, Profile- {{resumeLite.candidate.linkedIn}}) </em>
		</p>
		<hr>
		<p class="card-text">
			<b>{{resumeLite.highlights}}</b>
		</p>
		<p class="card-text">
			<b>Mission "{{resumeLite.mission}}"</b>
		</p>
		<p class="card-text">
			<b>Milestones Achieved- </b>{{resumeLite.milestonesSeen}}
		</p>
		<p class="card-text">
			<b>What I look forward to - </b>{{resumeLite.milestonesToGo}}
		</p>
		<hr>
		<app-education [education]="resumeLite.education"></app-education>
		<hr>
		<h5>Experience</h5>
		<app-expertise [expertises]="resumeLite.experience.expertises"></app-expertise>

		<hr>
	</div>
	<div class="card-footer text-muted">Updated 2 days ago.</div>
</div>