/* You can add global styles to this file, and also import other style files */
.card {
    max-width: 100%;
    margin: 0px;
}
.card-text {
    word-wrap: break-word;
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 576px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 100px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}